:root {
  --main-background: #090b1a;
  --card-background: #1b1938;
  --accent: #aa5cdb;
  --accent-transparent: #aa5cdbb0;
  --main-heading-stats: #ffffff;
  --main-paragraph: #ffffffbf;
  --stat-headings: #ffffff99;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 93.75%;
}

.stat-card__heading {
  font-family: "Inter", sans-serif;
  color: var(--main-heading-stats);
}

.stat-card__description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13px;
  word-spacing: 1px;
  width: 90%;
  line-height: 1.6;
  color: var(--main-paragraph);
}

.purple-text {
  color: var(--accent);
}

.stats-box__stat__value {
  font-family: "Inter", sans-serif;
  color: var(--main-heading-stats);
  font-size: 1.5em;
}

.stats-box__stat__name {
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  color: var(--stat-headings);
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 1px;
}

.attribution {
  font-family: "Inter", sans-serif;
  color: rgba(211, 211, 211, 0.692);
}

.attribution a {
  color: var(--accent);
  opacity: 0.692;
}

body {
  background-color: var(--main-background);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 620px) {
  body {
    height: 135vh;
  }
}

.stat-card {
  margin: auto;
  width: 80%;
  height: 65vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 65vh;
  background-color: var(--card-background);
  border-radius: 7px;
}

.stat-card__description {
  flex: 1;
  margin-top: 25px;
}

.stat-card__text {
  padding: 60px 63px 65px 63px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stat-card__image {
  background-image: linear-gradient(var(--accent-transparent), var(--accent-transparent)), url(./../images/image-header-desktop.jpg);
  background-size: cover;
  border-radius: 0 7px 7px 0;
  background-position: center;
  overflow: hidden;
}

@media (max-width: 1105px) {
  .stat-card__text {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

@media (max-width: 1005px) {
  .stat-card {
    height: 75vh;
    grid-template-rows: 75vh;
  }
  .stat-card__text {
    padding-left: 40px;
  }
  .stats-box {
    column-gap: 20px;
  }
}

@media (max-width: 620px) {
  .stat-card {
    width: 90%;
    height: 120vh;
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(300px, auto);
  }
  .stat-card__image {
    border-radius: 7px 7px 0 0;
    grid-row: 1/2;
  }
  .stat-card__text {
    grid-row: 2/3;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .stat-card {
    height: 145vh;
  }
}

.stats-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

@media (max-width: 500px) {
  .stats-box {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.attribution {
  padding-bottom: 12px;
}

@media (max-width: 500px) {
  .attribution {
    padding-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */