:root {
  // Primary
  --main-background: #090b1a;
  --card-background: #1b1938;
  --accent: #aa5cdb;
  --accent-transparent: #aa5cdbb0;

  // Neutral
  --main-heading-stats: #ffffff;
  --main-paragraph: #ffffffbf;
  --stat-headings: #ffffff99;
}
