.stat-card {
  margin: auto;
  width: 80%;
  height: 65vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 65vh;

  background-color: var(--card-background);
  border-radius: 7px;

  &__description {
    flex: 1;
    margin-top: 25px;
  }

  &__text {
    padding: 60px 63px 65px 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__image {
    background-image: linear-gradient(
        var(--accent-transparent),
        var(--accent-transparent)
      ),
      url(../../images/image-header-desktop.jpg);

    background-size: cover;
    border-radius: 0 7px 7px 0;
    background-position: center;
    overflow: hidden;
  }
}

@media (max-width: 1105px) {
  .stat-card__text {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}

@media (max-width: 1005px) {
  .stat-card {
    height: 75vh;
    grid-template-rows: 75vh;
    &__text {
      padding-left: 40px;
    }
  }
  .stats-box {
    column-gap: 20px;
  }
}

@media (max-width: 620px) {
  .stat-card {
    width: 90%;
    height: 120vh;
    margin: 40px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(300px, auto);

    &__image {
      border-radius: 7px 7px 0 0;
      grid-row: 1/2;
    }

    &__text {
      grid-row: 2/3;
      width: 80%;
      margin: 0 auto;
      text-align: center;
      padding: 50px 0;

      align-items: center;
    }
  }
}

@media (max-width: 500px) {
  .stat-card {
    height: 145vh;
  }
}
