.stat-card {
  margin: auto;
  width: 80%;
  height: 65vh;

  display: grid;
  grid-template-columns: 1fr 1fr;

  background-color: var(--card-background);
  border-radius: 7px;

  &__heading {
    // margin-bottom: 30px;
  }

  &__description {
    flex: 1;
    margin-top: 25px;
  }

  &__text {
    padding: 60px 63px 65px 63px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__image {
    background-image: linear-gradient(
        var(--accent-transparent),
        var(--accent-transparent)
      ),
      url(../../images/image-header-desktop.jpg);
    background-size: cover;
    border-radius: 0 7px 7px 0;
  }
}
