.stats-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

@media (max-width: 500px) {
  .stats-box {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
